# You should use requirements.txt.
# This is only for if you have PySide6 installed system-wide.
# You'll have to make a venv with --system-site-packages.


platformdirs~=4.5.1
requests~=2.32.5
xxhash~=3.6.0
websocket-client~=1.9.0
