# You should use requirements.txt.
# This is only for if you have PySide6 installed system-wide (e.g., Linux).
# You'll have to make a venv with --system-site-packages for this to work.

keyring~=25.7
platformdirs~=4.11
requests~=2.34
xxhash~=3.8
