[Desktop Entry]
Name=QTCord
Icon=io.github.mak448a.QTCord
Comment=Discord client written in Python and QT
GenericName=Discord Client written in Python and QT
Exec=io.github.mak448a.QTCord
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
