name: Build Windows
run-name: Build Windows
on:
  push:
    tags:
      - "**"
# on: [push]
jobs:
  Build-Windows:
    runs-on: windows-latest
    steps:
      # Use Python 3.12.4
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.4"
      - run: pip install -r requirements.txt && pip install pyinstaller && python3 helper_scripts/package_windows.py
      - uses: actions/upload-artifact@v4
        with:
          name: "Qtcord-Windows"
          path: "src/dist/Qtcord-Windows"
